.app {
  display: grid;
  grid-template-areas: 
    'title'
    'toolbar'
    'sandbox';
  height: 100vh;
  padding: 8px;
  background-color: darkgray;

  .title {
    grid-area: title;
    grid-row: 1;
  }
  
  .toolbar {
    grid-area: toolbar;
    grid-row: 2;
  }
  
  .sandbox {
    grid-area: sandbox;
    grid-row: 3 / 12;
  }
}
